@import "tailwindcss";

:root {
    --font-family: "Inter", sans-serif;
}

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
